body {
  background-color: black;
  margin: 0 auto;
  font-family: 'Pangolin', cursive;
  }

h1 {
  font-size: 25px;
  color: grey;
  text-align: center;
  }

.large {
  background-image: url('./Images/smoke.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 500px;
  display: flex;
  border-radius: 15%;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  }

  .middle {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  opacity: 0.5;
  background-image: url('./Images/chatnoir.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 40%;
  width : 800px;
  height: 410px;
  position: relative;
  border: 2px solid lightgrey;
  }

.counter {
  font-family: 'Oswald', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  font-size: 25px;
  margin-top: 2%;
  position: absolute;
  width: 500px;
  height: 20%;
  color: white;
  }

  #reset {
    width: 80px;
    height: 22px;
    border: 2px solid black;
    border-radius: 25%;
    position: absolute;
    top: 93%;
    left: 25%;
    color: lightgrey;
    text-align: center;
    text-shadow: 2px 4px 2px grey;
    opacity: 0.8;
  }


#play {
  width: 80px;
  height: 22px;
  border: 2px solid black;
  border-radius: 25%;
  position: absolute;
  top: 81%;
  left: 25%;
  color: lightgrey;
  text-align: center;
  text-shadow: 2px 4px 2px grey;
  opacity: 0.7;
}

#pause {
  width: 80px;
  height: 22px;
  border: 2px solid black;
  border-radius: 25%;
  position: absolute;
  top: 87%;
  left: 25%;
  color: lightgrey;
  text-align: center;
  text-shadow: 2px 4px 2px grey;
  opacity: 0.8;
}

#reset:hover, #play:hover, #pause:hover {
  background-color: black;
  width: 77px;
  height: 21px;
  transition-duration: 0.1s;
}

#reset:active, #play:active, #pause:active {
  width: 76px;
  height: 20px;
}
